/* Styles for Navbar */
.navbar-inverse{
	border-radius:0;
	border-bottom:4px solid rgb(36, 103, 141);
}
#branding{
	color:white;
	font-weight: bold;
	font-size: 180%;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}
#branding:hover{
	color:#A9A9A9;
}
#bootstrap-overrides .navbar  li a{
	color:#A9A9A9;
	font-size: 120%
}
.nav-text-area{
	padding:5px 0;
}
#bootstrap-overrides a:hover .nav-text-area{
	border-top:2px solid #d8d8d8;
	border-bottom:2px solid #d8d8d8;
	color:#d8d8d8;
}
#bootstrap-overrides .nav-active{
	border-top:2px solid white;
	border-bottom:2px solid white;
	color:white;
}
body{
	margin-top:50px;
}
/* END Styles for Navbar */



/* Font size for REM */
html {
	font-size: 14px;
}
/* Large Screens */
@media only screen 
and (min-width:992px)
and (max-height:1299px){
	html {
		font-size: 16px;
	}
}
/* Ipad pro and XL screens */
@media only screen 
and (min-width:992px)
and (min-height:1300px){
	html {
		font-size: 20px;
	}
}
/* 1366x768 and mobile screens */
@media only screen 
and (max-width:1400px)
and (max-height:1050px){
	html {
		font-size: 14px;
	}
}
/* END Font size for REM */



/* Typography Styles */
.blue-heading{
	color:rgb(36, 103, 141);
	font-size: 2rem;
	margin-bottom: 1rem;
}
p{
	font-size: 1.3rem;
}
.first-letter{
	color:rgb(36, 103, 141);
	font-size: 3.6rem;
	float:left;
	margin-top:0;
	line-height: 3.4rem;
	padding-right:.3rem;
	font-family: Georgia;
}
.body-top-margin{
	margin-top:6vh;
}
/* END Typograpyh Styles */




/* Footer Styles */
footer{
	text-align: center;
	background:#f2f1f6;
	padding:10px 0;
}
footer p{
	margin-bottom: 0;
}
html{
	min-height:100%;
	position:relative;
}
body{
	margin-bottom: 55px;
}
.viewport-footer{
	position:absolute;
	right:0;
	bottom:0;
	left:0;
}
/* END Footer Styles */



/* About page Image Styles */

@media only screen and (min-width:1200px){
	.nicole-about-image{
		display:inline-block;
		width:auto;
		height:100%;
		vertical-align: top;
	}
	#about-containing-text{
		text-align: left;
		display:inline-block;
		width:48%;
		margin-right:2%;
	}
	#about-desktop-image{
		display:inline-block;
	}
	#about-mobile-image{
		display:none;
	}
}

@media only screen and (min-width:500px) and (max-width: 1199px){
	.nicole-about-image{
		display:inline-block;
		float:right;
		width:30%;
		height:auto;
		margin:0 8px 0 8px;
	}
	#about-containing-text{
		display:block;
		text-align: left;
	}
	#about-desktop-image{
		display:none;
	}
	#about-mobile-image{
		display:inline-block;
	}
	.about div.center{
		margin:0 40px 0 40px;
	}
}
@media only screen and (max-width: 499px){
	.nicole-about-image{
		display:inline-block;
		float:right;
		width:45%;
		height:auto;
		margin:0 8px 0 8px;
	}
	#about-containing-text{
		display:block;
		text-align: left;
	}
	#about-desktop-image{
		display:none;
	}
	#about-mobile-image{
		display:inline-block;
	}
}
