/* Styles for Navbar */
.navbar-inverse{
	border-radius:0;
	border-bottom:4px solid rgb(36, 103, 141);
}
#branding{
	color:white;
	font-weight: bold;
	font-size: 180%;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}
#branding:hover{
	color:#A9A9A9;
}
#bootstrap-overrides .navbar  li a{
	color:#A9A9A9;
	font-size: 120%
}
.nav-text-area{
	padding:5px 0;
}
#bootstrap-overrides a:hover .nav-text-area{
	border-top:2px solid #d8d8d8;
	border-bottom:2px solid #d8d8d8;
	color:#d8d8d8;
}
#bootstrap-overrides .nav-active{
	border-top:2px solid white;
	border-bottom:2px solid white;
	color:white;
}
body{
	margin-top:50px;
}
/* END Styles for Navbar */



/* Font size for REM */
html {
	font-size: 14px;
}
/* Large Screens */
@media only screen 
and (min-width:992px)
and (max-height:1299px){
	html {
		font-size: 16px;
	}
}
/* Ipad pro and XL screens */
@media only screen 
and (min-width:992px)
and (min-height:1300px){
	html {
		font-size: 20px;
	}
}
/* 1366x768 and mobile screens */
@media only screen 
and (max-width:1400px)
and (max-height:1050px){
	html {
		font-size: 14px;
	}
}
/* END Font size for REM */



/* Typography Styles */
.blue-heading{
	color:rgb(36, 103, 141);
	font-size: 2rem;
	margin-bottom: 1rem;
}
p{
	font-size: 1.3rem;
}
.contact-info{
	font-size: 1.5rem;
	margin:1rem 0;
}
.contact-info i{
	margin:0 1rem;
}
.blue-hr{
	border-top: 2px solid rgb(36, 103, 141);
}
.body-top-margin{
	margin-top:6vh;
}
/* END Typography Styles */



/* Contact Card Styles */
input, label, textarea{
	display: block;
}
input{
	width:100%;
	font-size: 1.7rem;
	padding:3px 5px;
}
textarea{
	width:100%;
	font-size: 1.2rem;
	resize:none;
	padding:3px 5px;
}
form a p{
	margin:0 1.5rem;
	font-size: 1.5rem;
}
form a{
	margin:.7rem 0;
}
.gray-card{
	border:2px solid rgb(36, 103, 141);
	border-radius: .7rem;
	padding:.7rem;
	background:#f2f1f6;
	margin:.7rem 0;
}
form .blue-heading{
	margin-bottom: 0;
}
/* END Contact Card Styles */



/* Footer Styles */
footer{
	text-align: center;
	background:#f2f1f6;
	padding:10px 0;
}
footer p{
	margin-bottom: 0;
}
body{
	margin-bottom: 45px;
}
html{
	min-height:100%;
	position:relative;
}
.viewport-footer{
	position:absolute;
	right:0;
	bottom:0;
	left:0;
}
/* END Footer Styles */


@media only screen and (max-width: 767px){
	.spacer{
		display:none;
	}
}
	#contact-mobile-header{display:none;}
	#contact-desktop-header{display:block;}
@media only screen and (max-width: 500px){
	.contact-info i{
		font-size: 1.4rem;
	}
	.blue-heading{
		font-size: 1.9rem;
	}
	#contact-mobile-header{display:block;}
	#contact-desktop-header{display:none;}
}