/* Styles for Navbar */
.navbar-inverse{
	border-radius:0;
	border-bottom:4px solid rgb(36, 103, 141);
}
#branding{
	color:white;
	font-weight: bold;
	font-size: 180%;
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}
#branding:hover{
	color:#A9A9A9;
}
#bootstrap-overrides .navbar  li a{
	color:#A9A9A9;
	font-size: 120%
}
.nav-text-area{
	padding:5px 0;
}
#bootstrap-overrides a:hover .nav-text-area{
	border-top:2px solid #d8d8d8;
	border-bottom:2px solid #d8d8d8;
	color:#d8d8d8;
}
#bootstrap-overrides .navbar .nav-active{
	border-top:2px solid white;
	border-bottom:2px solid white;
	color:white;
}
body{
	margin-top:50px;
}
/* END Styles for Navbar */



/* Font size for REM */
html {
	font-size: 14px;
}
/* END Font size for REM */


/* Typography Styles */
.blue-heading{
	color:rgb(36, 103, 141);
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top:1rem;
}
p{
	font-size: 1.3rem;
}
.body-top-margin{
	margin-top:6vh;
}
/* END Typography Styles */



/* Carousel Styles */
.gray-card{
	border:2px solid rgb(36, 103, 141);
	border-radius: .7rem;
	padding:.7rem;
	background:#f2f1f6;
	margin:.7rem 0;
}
#bootstrap-overrides .carousel-control{
	background-image: none;
}
#myCarousel img{
	border-radius: 50%;
	object-fit: cover;
	padding: 0;
}


.side-text{
	clear:left;
	color:black;
	font-size: 1.5rem;
	margin-bottom:0;
}
.carousel-control,
.carousel-control:focus{
	color:rgb(36, 103, 141);
}
.carousel-control{
	width:4%;
}
.carousel-control:hover{
	color:rgb(36, 103, 141);
}
.carousel-indicators li{
	border:1px solid rgb(36, 103, 141);
}
#myCarousel h3{
	color:rgb(36, 103, 141);
	margin-top:10px;
	
}
.fa-circle{
	color:rgb(36, 103, 141);
	transition: all 0.2s ease;
	margin-bottom:5px;
}
.work .fa-stack:hover .fa-circle{
	color:rgb(27, 77, 106);

}

#myCarousel .fa-stack{
	cursor:pointer;
	margin-bottom: 5px;
}
.tag-text{
	font-size: 1.5rem;
	color:rgb(36, 103, 141);
	vertical-align: middle;
	line-height: normal;
	display:none;
}


div.carousel-nav{
	padding:0;
}
.carousel-nav ul{
	overflow-x:hidden;
	overflow-y:scroll;
	height:340px;
}
.carousel-nav li{
	font-size: 120%;
}
ul#my-carousel-indicator{
	padding:0;
	list-style: none;
	margin-bottom: 0;
}
#my-carousel-indicator li{
	font-size: 130%;
	border-top:1px solid rgb(36, 103, 141);
	padding-left:10px;
	cursor:pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}
#my-carousel-indicator li:first-of-type{
	border-top:none;
}
.carousel-main{
	padding: 0 25px;
}
.carousel-nav{
	border-left:2px solid rgb(36, 103, 141);
}
.my-active{
	background-color: rgba(36, 103, 141, 0.6);
}
#my-carousel-indicator li:hover{
	background-color: rgba(36, 103, 141, 0.6);
	padding-left: 7px;
}
.portfolio-info{
	width:240px;
	float:right;
}
.portfolio-info button{
	margin-bottom:5px;
}
.modal-title{
	text-align: center;
	font-size: 200%;
}
.modal-header{
	padding: 0;
}
.modal-body img{
	object-fit: cover;
	height:300px;
	width:300px;
}
.modal-body ul{
	position: relative;
	white-space: nowrap;
	padding:0px;
	display:inline;

}
.modal-body li{
	display:inline-block;
	list-style: none;
}
.modal-body{
	padding:0;
	overflow-x:scroll;
	overflow-y:hidden;
}
.modal-dialog{
	margin-top:15%;
}

@media only screen and (min-width: 1200px){
	#myCarousel img{
		height:240px;
		width:240px;
		margin:20px 0;
	}
	div#myCarousel{
		padding:0 10px 0 0;
	}
	.carousel-nav-expand{
		display:none;
	}
}
@media only screen and (max-width: 1199px){
	#myCarousel img{
		height:240px;
		width:240px;
		margin:20px 0;
	}
	div#myCarousel{
		padding:0 10px 0 0;
	}
	.carousel-nav-expand{
		display:none;
	}
}
@media only screen
 and (min-width:768px)
 and (max-width: 991px){
	div#myCarousel{
		padding:0;
		overflow:hidden !important;
	}
	#my-carousel{
		position:relative;
	}
	.carousel-nav{
		position:absolute;
		right:-33%;
		width:33%;
		background-color:white;
		border-left:2px solid rgb(36, 103, 141);
		-o-transition:.25s;
	    -ms-transition:.25s;
	    -moz-transition:.25s;
	    -webkit-transition:.25s;
	    transition:.25s;
	}
	.carousel-nav-shift{
		right:0%;
	}
	.carousel-main{
		border-right:none;
		
	}
	.carousel-nav-expand{
		display:block;
		position:absolute;
		left:-30px;
		font-size: 25px;
		cursor:pointer;
		padding-bottom:10px; /* For more clicking space */
	}
	.carousel-inner div div.row{
		margin:0;
	}
}
@media only screen and (max-width:767px){
	div#myCarousel{
		padding:0;
		overflow:hidden !important;
		width:100%;
		max-width:500px;
		margin:auto;
	}
	#my-carousel{
		position:relative;
	}
	.carousel-nav{
		position:absolute;
		right:-70%;
		width:70%;
		background-color:white;
		border-left:2px solid rgb(36, 103, 141);
		-o-transition:.25s;
	    -ms-transition:.25s;
	    -moz-transition:.25s;
	    -webkit-transition:.25s;
	    transition:.25s;
	}
	.carousel-nav-shift{
		right:0%;
	}
	.carousel-main{
		border-right:none;
		
	}
	.carousel-nav-expand{
		display:block;
		position:absolute;
		left:-30px;
		font-size: 25px;
		cursor:pointer;
		padding-bottom:10px; /* For more clicking space */
	}
	.side-text, .tag-text{
		font-size: 1.3rem;
	}
	.fa-stack{
		font-size: 16px;
	}
}


/* END Carousel Styles */



/* Footer Styles */
footer{
	text-align: center;
	background:#f2f1f6;
	padding:10px 0;
}
footer p{
	margin-bottom: 0;
}
html{
	min-height:100%;
	position:relative;
}
body{
	margin-bottom: 55px;
}
.viewport-footer{
	position:absolute;
	right:0;
	bottom:0;
	left:0;
}
/* END Footer Styles */